<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead style="background-color: black; color: white">
          <tr>
            <th>Szakdolgozat címe</th>
            <th>Készítők neve</th>
            <th>GitHub link</th>
            <th>
              Szakdolgozat <br />
              elérhetősége
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sor of adatok">
            <td>{{ sor.cim }}</td>
            <td>{{ sor.keszitok }}</td>
            <td>{{ sor.github }}</td>
            <td>{{ sor.elerhetoseg }}</td>
            <td>
              <button (click)="onModositas(sor)" class="btn btn-primary">módosítás</button>
              <button (click)="onTorles(sor)" class="btn btn-danger">törlés</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>